<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RestAssured Automation FrameWork On GoRest API" verbose="1" 
	thread-count="3">
	 <listeners>
		<listener class-name="com.dev.goRest.Listeners.AllureTestListeners"/>
	</listeners>
	<test name="Go Rest API Automation FrameWork">
		<classes>
			<class name="com.qa.goRest.RestAPISuite.SampleTestSuite" />
		</classes>
	</test>
</suite>
